{{ define "main" }}
<div id="main" class="col-lg-10 mx-auto justify-content-center py-5 d-print-block" data-pagefind-ignore="all">
        <h1> {{ .Params.title| page.RenderString | safeHTML }}</h1>
        {{$fileName:= .File.BaseFileName}}
        {{$galleryPage:= $.Site.GetPage (printf "gallery/%s" $fileName)}}
    {{with $galleryPage}}
    <h1> {{ .Params.title| page.RenderString | safeHTML }}</h1>
    {{ partial "content" . }}{{ end }}
        {{ partial "helpers/topic-navigation.html" . }}
{{ end }}