{{define "main"}}
<div id="main" class="col-lg-10 mx-auto justify-content-center py-5" data-pagefind-ignore="all">
    {{ partial "breadcrumbs" . }}

    <div class="row justify-content-center pt-3">
        <div class="col-12">
            <h1>{{ .Params.title | page.RenderString | safeHTML }}</h1>
            <div class="pb-4">{{ .Content | page.RenderString | safeHTML }}</div>
        </div>
    </div>

    <div class="row mt-4">
        {{ range .Pages }}
            {{$fileName:= .File.BaseFileName}}
            {{$galleryPage:= $.Site.GetPage (printf "gallery/%s" $fileName)}}
            {{with $galleryPage}}
            <div class="col-md-6 mb-5">
                <div class="h-100">
                    <div class="d-flex justify-content-center pb-3">
                        {{ with .Params.featured }}
                        {{ $image := resources.Get (printf "/images/%s" .)}}
                        <img data-pagefind-meta="image[src], image_alt[alt]" src="{{ ($image).RelPermalink }}" class="img-fluid mx-auto" alt="{{with $.Params.featuredAlt}}{{ . }}{{else}}{{$.Title}}{{end}}" style="max-width: 100%;"/>
                        {{end}}
                    </div>
                    {{ $hasRealDate := isset .Params "date" }}
                    {{ $hasDisplayDate := and (isset .Params "displaydate") (ne .Params.Displaydate "[Placeholder for date]") }}
                    {{ if or $hasRealDate $hasDisplayDate }}
                    <p><strong>Date:</strong> {{ if $hasDisplayDate }}{{ .Params.Displaydate | page.RenderString | safeHTML}}{{ else }}{{ .Params.Date.Format "Jan 2, 2006" | page.RenderString | safeHTML}}{{ end }}</p>
                    {{ end }}
                    {{ if and (isset .Params "caption") (ne .Params.caption "[Placeholder for image description]") }}
                    <p><strong>Image Description:</strong> {{ .Params.caption | page.RenderString | safeHTML }}</p>
                    {{ end }}
                    {{ if .Params.text }}<div class="pb-3 d-print-none"><a href="/plain-text/{{.Params.text}}">Read plain text of document</a></div>{{ end }}
                    {{ if .Params.detailedDescr }}<div class="pb-3 d-print-none"><a href="/plain-text/{{.Params.detailedDescr}}">Detailed image description</a></div>{{ end }}
                    {{ if .Params.audioTranscript }}<div class="pb-3 d-print-none"><a href="/plain-text/{{.Params.audioTranscript}}" >Audio transcript</a></div>{{ end }}
                    <div class="d-print-block"><p> {{ .Content | page.RenderString | safeHTML }}</p></div>
                </div>
            </div>
            {{end}}
        {{ end }}
    </div>

    {{ partial "helpers/topic-navigation.html" . }}
</div>
{{end}}
