{{define "main"}}
<div id="main" class="col-lg-10 mx-auto justify-content-center py-5" data-pagefind-ignore="all"><h2 class="d-print-none">You are here:</h2>
<p>{{ partial "breadcrumbs" . }}</p>
    {{$fileName:= .File.BaseFileName}}
    {{$galleryPage:= $.Site.GetPage (printf "gallery/%s" $fileName)}}
    {{with $galleryPage}}
    <div class="mb-5">
        <div class="row justify-content-center pt-3">
              <h1>{{ .Params.title | page.RenderString | safeHTML }}</h1></div>
              {{ partial "content" . }}
              {{end}}
              {{ partial "helpers/topic-navigation.html" . }}
                <div class="col mx-auto justify-content-center d-print-none"><h2>You are here:</h2>
                  <p>{{ partial "breadcrumbs" . }}</p></div>
                </div>
                </div>
                
{{end}}